body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
}

.container{
    width:450px;
    padding:30px;
    background:white;
    border-radius:20px;
    box-shadow:0 0 10px rgba(80, 1, 250, 0.5);
}

input{
    width: 250px;
    padding: 10px;
    margin: 10px 0;
}

.card{
    margin-top:20px;
    padding:20px;
    background:aliceblue;
    border-radius:10px;
    border:1px solid #ccc;
}

.card p{
    margin: 10px 0;
}