body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:60px;
    justify-content: space-between;
}
.container{
    width: 450px;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgb(232, 201, 64);
    border-radius: 20px;
}

#taskList{
    width: 500px;
    height: 150px;
    margin-top: 100px;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px rgb(9, 57, 251);
    border-radius: 50px;
}